.hlavni_nadpis{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
}

.hlavni_ip{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.nadpis_pro_vyber_hostu{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}
  
.column{
    margin-left: 5%;
    margin-right: 5%;
    padding:5px;
}

.zaverecny_text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
}



